


body {
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header"         /*introhead */
    "navigation"       /*navigation*/
    "content"          /*contenthome */
    "footer";           /*footer */   
    grid-template-rows: min-content min-content auto min-content;
    min-height: 100vh;


}

#contenthome {

    padding: 15px;
    grid-area: content; 
    background-color: gray;
}   




i {
    display: inline;
}
.formcontainer {
    grid-area: content;

    
}

.formcontainer .info input{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;

}

.check {
    margin-top: 2em;
}
.drop {
    margin-top: 2em;
}


.formcontainer > .info  optgroup {
    display: block;
}
/* ...................................... */
.introhead {
    color: white; 
    text-align: center; 
    background-color: gray; 
    margin:0em;
    border-bottom: 1px solid black;
    grid-area: header;
    border: 1px solid red;
    position: sticky;
    top: 0;

}

.headercontainer{
    height: 100%;
}
.headercontainer span{

    margin-top: auto;
    margin-bottom: auto;
}

/* #home {
    padding: 2em;
} */

/* body #navigation{
    max-width: 100%;
} */
h3 {
    font-style: italic;
}
h2 {
    color: rgba(134, 39, 4, 0.979);
}
div {
    /* border: dashed red .1em; */

}
p {
    /* this is currently empty */
    /* padding: 10px; */
}
#header{
    background-color: bisque;
    
}
#header h3 span{
    margin-top:auto;
    margin-bottom: auto;
                
}
#header h3 .headtxt{
    vertical-align: middle;
                
}        
#header .headtxt{
    font-size: 20px;
}        
nav {

    border-bottom: 1px solid black;
    text-align: center;
}
#navigation{
    grid-area: navigation;    
    /* background-color: rgb(209, 219, 219); */
    /* position: sticky;
    top: 0; */
    /* border: 2px solid red; */


    /* display: flex;
    flex-direction: column; */

}

#navigation > ul {
    align-items: center;
    display: flex;
    /* flex-direction: row; */
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    /* border: 1px solid black; */
}
#navigation > ul > li {

    /* background-color: rgb(185, 178, 178); */
    display: inline;
    position: relative;
    padding: -1px;
    background-color:rgb(150, 148, 148);
    padding: 1px 20px 1px 20px;
    border-bottom: 3px solid rgb(92, 90, 90);
    border-left: 5px solid black;
}
#navigation ul > li:hover{
    background-color: rgb(95, 93, 93);

}

#navigation > ul > li a {
    text-decoration: none;

}
#navigation > ul > li a:visited {
    color: black;
    
}

#navigation a + ul {
     position: absolute;
    left: 0px;
    display: none;
    list-style-type: none;
    padding: 0px;
    min-width: 160px;
    background-color: #ddd; 
    border: 1px black solid;  
}
#navigation  a + ul a:link { 
    text-decoration: none;
    
}
#navigation a + ul > li:hover {
    background-color: rgb(138, 133, 133);
    
}

#navigation li:hover a + ul {
    display: block;
    display: flex;
    flex-direction: column;
    word-wrap: none;


}

#navigation a + ul:hover {
    display: block;

}


#content {

}
#footer{
    grid-area: footer;      
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;    
    /* background-color: aquamarine; */
    text-align: center;

}



/* @media screen and (min-width: 385px){
    body {
        grid-template-areas:
        "navigation header"                   
        "navigation content"
        "navigation footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 40vw auto;
    
}

#navigation{
    flex-direction: column;
}
#navigation > ul {
    flex-direction:column;
}
} */