@media screen and (max-width: 900px){
  
  .navigation {
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 85%;
  min-width: 320px;
  font-size: 1.2em;
  }
  }
  body{
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Coda', cursive;
  /* width:100%;  */
  margin:0;
  /*             background-color:white;
  background-image: url(https://vignette.wikia.nocookie.net/clubpenguin/images/3/3e/Sensei_sig_new.png/revision/latest?cb=20130206191750); */

  }

  #apiwork {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
  }
    
  #apiwork-sresults{
    grid-column: 1;
    grid-row: 1;
  }
  #apiwork-clickresults{
    grid-column: 2;
    grid-row: 1;
  }
  .content {
  background-color:white;
  width: 100%;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
  /* opacity:.2; */
  }
  input {
    max-width: 30rem;
  }

  textarea {
    max-width: 30rem;
  }
  .content_1{
  margin: 0 16vw;
  margin: 0;
  padding: 0;
  min-height: 500px;
  justify-content: center;
  }
  .content_1 > div {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  /* border: 2px solid black; */
  }
  .left{
  grid-area: left_1;
  }
  .left img {
    width: 100%;
    height: 451px;
  }
  .center{
  grid-area: center_1;
  }
  .right{
  grid-area: right_1;
  }
  #navigation {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 0.1px;
    color: white;
    z-index:1;
  }

  .navigation {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 85%;
    min-width: 810px;
    font-size: 1.2em;
  
  
  }
  
  table, thead, tbody, td {
    border: black 1px solid;
  }

  
  .navigation a {
    color: white;
  }
  
  .navigation a > a {
    display:flex;
    flex-direction: column;
  }
  #navigation h1 {
    border: 1px solid white;
    text-align:center;
    /* padding-left: 20%;
    padding-right: 20%; */
  }
  #navigation img{
    max-width: 123px;
  
  }
  
  .item4 {

    width: 100%;
      text-align: center;
      background-color: black;
      color: white;
  }
  
  .item4 a {
    color: white;
  }

div.info {
  display:flex;
  flex-direction: column;
}

form {
  padding:2% 10%;
}


  @media screen and (max-width: 900px){
    
    .navigation {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    align-items:center;
    width: 85%;
    min-width: 320px;
    font-size: 1.2em;
    padding-left:0;
    margin: auto;
    }
    form {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    div.info {
      display:flex;
      flex-direction: column;
      /* margin-left: 2em;
      margin-right: 2em; */
    }

    div.submitting {
      display:flex;
      flex-direction:column;
      align-items: center;
    }
    .content_1{
      display: grid;
      grid-template-areas: 'right_1 right_1'
                    'left_1 left_1';
      grid-template-columns: 65% 35%;
      /*   grid-template-rows: 1px 1px 1px; */
      grid-gap: 71px;
      margin: 0 16vw;
      /* background-color: black; */
      padding: 10px;
      margin-top: 2em;
      min-height: 500px;
      justify-content: center;
      }
    .content_1 > div {
      background-color: white;
      text-align: center;
      padding: 20px 0;
      font-size: 14px;
      }

      ul.navigation {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      ul.navigation > li:nth-child(n+2):nth-child(-n+5):hover {
        /* width: 100%; */
        background-color: white;
    
      }

      ul.navigation a {
        display: block;
      }

      ul.navigation > li:hover > a {

        color: black;
    
      }

       ul.navigation > li{
        width: 100%;
        text-align: center;
      }

  }